 header {
    padding-top: 32px;
    text-align: center;
    height: 300px;
 }

body {
    background-image: url('./assets/bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    background-color: #121214;
    color: white;
}

body *, :root{
    font-family: 'Inter';
    line-height: 160%;
}

header img {
    width: 15rem;
}

main {
    max-width: 1120px;
    margin: 3rem auto;
    width: 90%;
}

section {
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50%, #E2D45C 100%);
    border-radius: 0.625rem;
    padding-top: 4px;
}

section > div {
    padding: 2rem;
    padding-top: 1.5rem;
    border-radius: 0.5rem;;
    background-color: #2A2634;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

/*Animacoes*/

main section {
    opacity: 0;
    transform: translateY(2rem);

    animation-name: appear;
    animation: appear 0.5s forwards;

}

@keyframes appear {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

form {
    display: flex;
    gap: 0.85rem;
    flex-wrap: wrap;
    margin: 1.25rem 0;
}

input, select {
    all: unset;
    border: 2px solid #9147ff;
    border-radius: 0.5rem;
    padding: 0.675rem;
    font-size: 0.875rem;
    background-color: #00000066;
}

input {
    flex: 1;
}

button {
    width: 100%;
    border: 0;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50%, #E2D45C 100%);
    padding: 0.675rem;
    border-radius: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.2s;
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 5px 1rem rgba(255, 248, 107, 0.2);
}

button:disabled {
    transition: none;
    transform: initial;
    box-shadow: initial;
    cursor: not-allowed;
    color: black;
}

.loading {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    50% {
        opacity: 0.5;
    }
}

/*Resposta da IA*/

#aiResponse {
    margin-top: 2rem;
    border: 2px solid #9147ff;
    border-radius: 0.5rem;
    padding: 0.675rem;
    font-size: 0.875rem;
    background-color: #00000066;
}

#aiResponse ul {
    padding-left: 1.5rem;
}

.hidden {
    display: none;
}